.ui-button {
  background-color: #444;
  color: #aaa;
  border: 0.025em solid #666;
  font-size: 1.25rem;
  min-width: 1.25em;
  min-height: 1.25em;
  justify-content: center;
  align-items: center;
  display: flex;
}
